MULE_Controller/Service References/muleServiceReference/MULEWcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MULEWcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MULEWcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="DataPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="avg" type="xs:float" />
      <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depth" type="xs:float" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="detailsValues" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="eastings" type="xs:float" />
      <xs:element minOccurs="0" name="group_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="metaData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="northings" type="xs:float" />
      <xs:element minOccurs="0" name="sd" type="xs:float" />
      <xs:element minOccurs="0" name="sem" type="xs:float" />
      <xs:element minOccurs="0" name="sensor" type="xs:int" />
      <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataPost" nillable="true" type="tns:DataPost" />
</xs:schema>